#etherium{
   background-color: hsl(216, 50%, 16%); 
}
    
.nft{
    background-color:hsl(217, 54%, 11%);
    border: hidden;
    height: 105vh;
    margin: 120px 420px;
    border-radius: 10px;
}



.equilibrium{
    margin:0 20px 20px 20px;
    background-color: hsl(215, 32%, 27%);
    border-radius: 10px;
    height: 100vh;
    padding-top: 5px;
}

.header{
    background:hsl(178, 100%, 50%);
   background-position: fixed;
  background-image: url("icon-view.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform:translate(2px, 2px);
  width: 320px;
  height: 300px;
  margin:20px 0 0 23px ;
  border-radius: 10px;
  
   
}


.header img{
   width: 320px;
   height: 300px;
   position: relative;
   margin: 0px;
   border: hidden;
   border-radius: 10px;
   cursor: pointer;
}

/* @media(max-width:760){
    #etherium{
     width: 100%;
    }
    .nft{
        height: 80%;
        border: hidden;
        margin: ;


    }
} */

.header img:hover{
    opacity: 0.3;
}

.head{
    color:  hsl(0, 0%, 100%);
    padding: 10px 25px;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
}

.head:hover{
    color: hsl(178, 100%, 50%);
}
.body{
    color:hsl(215, 51%, 70%);
    padding-left:25px;
    padding-right: 50px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}

.eth{
    color: hsl(178, 100%, 50%);
    padding-left:25px;
    font-size: 18px;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;

}

.time{
    color:hsl(215, 51%, 70%);  
    text-align: right;
    padding-left: 100px;
    padding-right: 25px;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

.time img{
    display: inline;
   height:15px ;
}



.creator{
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
}

.creator img{
    width: 22px;
    height: 22px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 10px;
    border-radius: 5px;
}
.href{
    color: hsl(0, 0%, 100%);
    text-decoration-line: none;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
}
.href:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

